.order-item {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: 0.2s all ease-in-out;
    &:hover {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }
}

.order-img-wrapper {
    position: relative;
    padding: 45px;
    border-radius: 8px;
    background-color: #c1e4d2;
    overflow: hidden;
}
.order-img {
    width: 100%;
    height: 100%;
}
.order-name {
    margin: 15px 0;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1.2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden !important;
}
.order-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-price {
    font-weight: 800;
}
.order-add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: white;
    background-color: var(--primary-color);
    padding: 5px 10px;
    font-weight: 700;
    // height: 40px;
    // width: 40px;
    border-radius: 2px;
    .add-icon {
        margin-left: 4px;
    }
}
.sale-off {
    position: absolute;
    top: 4px;
    left: -22px;
    text-align: center;
    background-color: rgb(132, 205, 149);
    border-top-right-radius: 2px;
    transform: rotate(-35deg);
    width: 116px;
    padding: 2px 0px;
}

// .sale-off::before {
//     border-width: 0px 22px 6px;
//     border-color: transparent currentColor transparent currentColor;
//     border-style: solid;
//     content: '';
//     position: absolute;
//     bottom: -5px;
//     left: 0px;
// }

.sale-off-percent {
    font-size: 2rem;
    display: block;
    font-weight: 800;
    color: #fff;
    margin-left: -10px;
}
